# Intro to MongoDB and the Nobel Prize Dataset - Lesson 1

## Why MongoDB?

* All Materials Project data is stored using MongoDB 
* Our API query language is based on MongoDB syntax

### MongoDB Structure

* Collections make up a ***database***
* Documents organized into ***collections*** 
* Data objects represented by ***documents***

### Data Structure

object → {`field`: `value`, `field1`: `value1`, ...}

fields: `string`


values:  `string`, `int/double`, `true`, `false`, `null`, `array`, `object`, ...

*example:*

```
{
    name: Sue,
    age: 28,
    lawSpecialties: [copyright, tax],
    canMeet:
        { 
            mon: True,
            tues: False,
            wed: True,
            thurs: True,
            fri: False,
        }    
}
```

### JavaScript Object Notation (JSON)

object → {`string`: `value`, `string1`: `value1`, ...}



values: `string`, `number`, `true`, `false`, `null`, `object`, `array`

### JSON $\longleftrightarrow$ Python

objects → {`string`: `value`,`string1`: `value1`, ...}

---> *dictionaries* (with `str` keys)

arrays → [`value`, `value1`, ...]

---> *lists*

values: `string`, `number`, `true`, `false`, `null`, `object`, `array`

```python
str, int, float, True, False, None, dict, list
```

### Accessing MongoDB

### Searching for documents with find_one()

### Iterating through documents with find()
Calculate the total number of laureate prizes

##  Listing and Counting - Lesson 2

### Listing databases and collections

Recall:
- Data objects represented by ***documents***
- Documents organized into ***collections***
- Collections make up a ***database***

How many databases are managed by `client`?

### Counting documents

How many laureates were born in Egypt?

How many laureates were born in Egypt and died in the United Kingdom?

## Finding, and Dot Notation - Lesson 3

### Query operators

`$in`

How many laureates were born in any of "Canada", "Mexico", or "USA"?

`$ne` (**n**ot **e**qual)

How many laureates died in the USA but were not born in the USA?

Below is a list of *comparison* query operators that are available in MongoDB:

`$eq` -- Matches values that are equal to a specified value. <br>
`$gt` -- Matches values that are greater than a specified value. <br>
`$gte` -- Matches values that are greater than or equal to a specified value. <br>
`$in` -- Matches any of the values specified in an array. <br>
`$lt` -- Matches values that are less than a specified value. <br>
`$lte` -- Matches values that are less than or equal to a specified value. <br>
`$ne` -- Matches all values that are not equal to a specified value. <br>
`$nin` -- Matches none of the values specified in an array.

#### Logical query operators

How many laureates died in Canada ***OR*** were born in France?

Below is a list of *logical* query operators that are available in MongoDB:

`$and` --	Joins query clauses with a logical AND returns all documents that match the conditions of both clauses. <br>
`$not` --	Inverts the effect of a query expression and returns documents that do not match the query expression. <br>
`$nor` --	Joins query clauses with a logical NOR returns all documents that fail to match both clauses. <br>
`$or` --	Joins query clauses with a logical OR returns all documents that match the conditions of either clause.

#### Text searching queries

`$regex`

How many laureates were born in 1879?

### Using dot notation

How many laureates were awarded at least two prizes?

How many laureates were awarded at least two prizes in physics?